<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>success-page</title>
    <link rel="stylesheet" type="text/css" href="/success.css">
</head>
<body>
    <div class="container">
    <img src="/check.png" alt="check-image">
    <h1> Thanks for subscribing </h1>
    <p> A confirmation email has been sent to <strong><%= email %></strong>
        please open it and click the button inside to confirm your subscription</p> 
    <button class="btn" type="submit"> Dismiss message </button>    
    </div> 
</body>
</html>